
.App-title {

    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 3rem;
}

/*
linear-gradient(125deg,#fff,#f3f3f3 41%,#ededed 0,#fff);
 */

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {

    background: var(--darky);
    min-height: 80vh;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



footer {

    min-height: 7rem;
    background-color: var(--darky);
}


@media all and (min-width: 992px) {

    .App-title {
        font-size: 4rem;
    }
}
