@import '~bootswatch/dist/flatly/bootstrap.min.css';

:root {
    --darky: #282c34;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

body {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

section h2 {

    text-align: center;
    padding: 1rem 0;
}

h1,h2,h3,h4,h5,h6 {

    text-transform: uppercase;
    font-weight: bold;
}


.pointer {
    cursor: pointer;
}

.line-through {

    text-decoration: line-through;
}

@keyframes bouncing-loader {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-1rem);
        opacity: 0.1;
    }
}

.bouncing-loader {

}

.bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
    margin: 3rem 0.2rem;
    background: #8385aa;

}

.bouncing-loader > div:nth-child(2) {

    animation-delay: .2s

}

.bouncing-loader > div:last-child {
    animation-delay: 0.4s;
}




.fa-bars {
    color: var(--light);
}


hr {
    max-width: 200px;
    background: var(--warning);
}
