@import '~bootswatch/dist/flatly/bootstrap.min.css';

:root {
    --darky: #282c34;
}

html, body {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {

    text-transform: uppercase;
    font-weight: bold;
}

section {
    padding-top: 50px;
}

section h2 {

    text-align: center;
    padding: 2rem 0;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

.pointer {
    cursor: pointer;
}

.line-through {

    text-decoration: line-through;
}

@keyframes bouncing-loader {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-1rem);
        opacity: 0.1;
    }
}

.bouncing-loader {

}

.bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
    margin: 3rem 0.2rem;
    background: #8385aa;

}

.bouncing-loader > div:nth-child(2) {

    animation-delay: .2s

}

.bouncing-loader > div:last-child {
    animation-delay: 0.4s;
}


@media all and (min-width: 476px) {

    section {
        padding-top: 100px;
    }
}
